@charset "UTF-8";
*{margin: 0; padding: 0;}
li{list-style: none;}
a{
    text-decoration: none;
    color: #000;
}


/* font-family: 'YES24'; */
 

/************* header *************/

.header{
    width: 100%;
    margin: 0 auto;
}
.header .gnb {
    background-color: #eeeeee;
    width: 100%;
    height: 40px;
    overflow: hidden;
}
.header .gnb .lnb ul{
    float: left;
    text-align: center;
    line-height: 40px;
}

.header .gnb .lnb ul li:nth-child(n+6) {
    color: blue;
}
.header .gnb .rnb ul{
    float: right;
    text-align: center;
    line-height: 40px;
}
.header .gnb li {
    display: block;
    padding: 0 15px;
    float: left;
    font-size: 13px;
    font-weight: 600;
}

.eventbar_Area {
    width: 100%;
    background-color: #3a79cd;
    height: 100px;
}
.eventbar_sub {
    width: 1024px;
    height: 100px;
    margin: 0 auto;
}
.eventbar_Area .logo {
    width: 100px;
    height: 100px;
    float: left;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #3E54AC;
    color: #fff;
    text-align: center;
    line-height: 100px;
}
.eventbar_Area .eventbar {
    width: 924px;
    height: 100px;
    float: right;
}
.eventbar_Area .eventbar ul{
    float: right;
    text-align: center;
    line-height: 50px;
}
.eventbar_Area .eventbar ul li{
    display: block;
    float: left;
    width: 184px;
    height: 50px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
}
.eventbar_Area .eventbar ul li a {
    padding: 6px 10px;
    background-color: yellow;
    border-radius: 30px;
    color:#000
}

/************* visual_ex *************/
.visual_ex{
    width: 100%;
    height: 300px;
    background-color: #d5efff;
}
.visual_ex .visual_main {
    font-family: 'YES24';
    width: 1024px;
    height: 300px;
    margin: 0 auto;
    
}
.visual_ex .visual_main p{
    font-size: 24px;
    text-align: center;
    line-height: 90px;
}
.visual_ex .visual_main p span{
    color: red;
}
.visual_ex .visual_main h2{
    font-size: 45px;
    text-align: center;
}
.visual_ex .visual_main h2 span{
    color: rgb(44, 44, 129);
}


/************* content_Area1 *************/

.content_Area1 {
    width: 100%;
    margin: 0 auto;
}
.content_Area1 .quiz_Area{
    width: 100%;
    height: 650px;
    background-color: #ffb6c1;
}
.content_Area1 .quiz_Area_sub {
   width: 1024px;
   margin: 0 auto;
   overflow: hidden;
}
.content_Area1 .quiz_Area_sub .quiz_text1{
    width: 100%;
    height: 200px;
    font-family: 'YES24';
}
.content_Area1 .quiz_Area_sub .quiz_text1 h5{
    font-size: 30px;
    color: #e90027;
    text-align: center;
    line-height: 115px;
}
.content_Area1 .quiz_Area_sub .quiz_text1 p {
    color: #333;
    font-size: 25px;
    text-align: center;
}
.content_Area1 .quiz_Area_sub .quiz_text1 p a {
    background-color: #484848;
    padding: 4px 10px;
    color: #fff;
    font-size: 14px;
    font-family: none;
    margin-left: 15px;
}

.content_Area1 .quiz_box{
    width: 1024px;
    height: 248.5px;
   
    box-sizing: border-box;
}
.content_Area1 .quiz_box div{
    width: 248.5px;
    height: 248.5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    float: left;
    margin-right: 10px;
    text-align: center;
    display: block;
    padding-top: 125px;
    background-color: #fff;
}
.content_Area1 .quiz_box div:last-child {
    margin-right: 0;
}
.content_Area1 .quiz_box div p{
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}
.content_Area1 .quiz_box div p span{
    font-size: 18px;
    font-weight: 400;
    color: #636363;
}
.content_Area1 .quiz_Area .vote_button{
    margin: 60px auto 0;
    width: 300px;
    height: 100px;
    background-color: #242424;
    color: #fff;
    border-radius: 50px;
}
.content_Area1 .quiz_Area .vote_button p {
    text-align: center;
    padding-top: 23px;
    color: #FF597B;
    font-family: 'YES24';
}

.content_Area1 .quiz_Area .vote_button p span {
    font-size: 23px;
    color: #fff;
}


.joinbox_area{
    width: 100%;
    background-color: #fff;
}
.joinevent_area .joinevent{
    width: 1024px;
    height: 420px;
    margin: 0 auto;
}
.joinevent_area .joinevent .join_text {
    width: 100%;
    height: 100px;
}
.joinevent_area .joinevent .join_text h3 {
    font-size: 30px;
    font-family: 'YES24';
    text-align: center;
    line-height: 100px;
}
.joinbox_area{
    float: left;
}
.joinbox_area .joinbox_img {
    float: left;
    width: 500px;
    height: 300px;
}
.joinbox_area .joinbox_img p {
    text-align: center;
    line-height: 300px;
}
.joinbox_area .joinbox{
    margin-top: 30px;
    width: 524px;
    height: 100%;
    float: left;
}
.joinbox_area .joinbox div{
    float: left;
    width: 257px;
    height: 130px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-right: 10px;
    color: red;
    font-weight: 600;
}
.joinbox_area .joinbox div:nth-child(2n){
    margin-right: 0;
}
.joinbox_area .joinbox div:nth-child(n+3){
    margin-bottom: 0;
}




/************* container *************/
.container{
    width: 100%;
    height: 1220px;
    background-color: #91d8e4;
}
.container .goods_area{
    width: 1024px;
    height: 100%;
    margin: 0 auto;
}
.goods_area .receive_text {
    text-align: center;
    font-size: 30px;
    font-family: 'YES24';
    font-weight: 300;
    padding: 20px 0;
}
.goods_area .goods_box1 {
    width: 100%;
    height: 200px;
    background-color: #fff;
    border: 1px solid #aaa;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 50px;
    box-sizing: border-box;
}
.goods_area .goods_box1 h4{
    font-family: 'YES24';
    font-size: 25px;
    line-height: 50px;
}
.goods_area .goods_box2 {
    width: 100%;
    height: 280px;
    background-color: #fff;
    border: 1px solid #aaa;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-top: 30px;
}
.goods_area .goods_box2 h4 {
    font-family: 'YES24';
    font-size: 25px;
    line-height: 50px;
    text-align: center;
}
.goods_area .goods_box2 ul {
    padding: 40px 60px;
    display: block;
}
.goods_area .goods_box2 ul li {
    line-height: 30px;
}
.goods_area .goods_box3 {margin-right: 10px;}
.goods_area .goods_box3 .goods_sub {
    width: 1024px;
    height: 300px;
    float: left;
}
.goods_area .goods_box3 .goods_sub div {
    width: 334px; height: 300px;
    float: left;
    border: 1px solid #aaa;
    background-color: #fff;
    padding-top: 20px;
    box-sizing: border-box;
}
.goods_area .goods_box3 .goods_sub div p {
    font-size: 20px;
    font-family: 'YES24';
    text-align: center;
}
.goods_area .goods_box3 .goodsbox_sub1{
    margin-bottom: 10px;
}
.goods_area .goods_box3 .goods_sub div:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}

/************* wide_banner *************/
.wide_banner {
    width: 1024px;
    height: 300px;
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: 50px;
    padding: 100px 150px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'YES24';
    font-weight: 100;
}

.wide_banner h4 span {
    font-size: 30px;
}


/************* content_Area2 *************/
.content_Area2{
    width: 100%;
    height: 675px;
    background-color: #ffd56f;
}
.content_Area2 .event_guide {
    width: 1024px;
    height: 210px;
    margin: 0 auto;
    padding-top: 25px;
}
.content_Area2 .event_guide .guide div{
    width: 507px;
    height: 200px;
    background-color: #fff;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
}

.content_Area2 .event_guide .guide div:last-child {
    margin-right: 0;
}
.content_Area2 .event_guide .guide div span {
    font-weight: 900;
 }
.content_Area2 .event_guide .event_guide1 div:nth-child(1
 ) {
    background-color: #00C73C ;
    color: #fff;
    font-size: 20px;
 }
 
 .content_Area2 .event_guide .event_guide1 div:nth-child(2
 ) {
    background-color: red;
    color: #fff;
    font-size: 20px;
 }
 .content_Area2 .event_guide .event_guide2 div:nth-child(1
 ) {
    background-color: skyblue;
    font-size: 20px;
 }
 .content_Area2 .event_guide .event_guide2 div:nth-child(2
 ) {
    background-color: pink;
    font-size: 20px;
 }
 .content_Area2 .event_guide .event_guide3 div:nth-child(1
 ) {
    background-color: pink;
    font-size: 20px;
 }
 .content_Area2 .event_guide .event_guide3 div:nth-child(2
 ) {
    background-color: #DFFFD8;
    font-size: 20px;
 }




/************* advertisement *************/
.advertisement {
    width: 100%;
    height: 400px;
    background-color: #000;
}
.advertisement h4 {
    color: #ffd56f;
    text-align: center;
    line-height: 400px;
    font-size: 25px;
}

.infomation {
    width: 100%;
    height: 200px;
    background-color: #eee;
    
}
/************* infomation *************/
.infomation div {
    width: 1024px;
    height: 200px;
    margin: 0 auto;
    padding-top: 35px;
    box-sizing: border-box;
}
.infomation p {
    font-size: 18px;
    font-weight: 700;
    line-height: 37px;
}
.infomation ul li {
    color: #767676;
    font-size: 15px;
}
.event_plus {
    width: 1024px;
    height: 60px;
    margin: 50px auto;
}
.event_plus div {
    width: 50%;
    height: 30px;
    background-color: #95bdff;
    float: left;
    padding: 7px 120px;
    box-sizing: border-box;
}
.event_plus div p {
   color: #fff;
}
.event_plus span {
    font-weight: 700;
}

/************* footer *************/
.footer_ex {
    width: 100%;
    height: 300px;
    background-color: #ccc;
}
.footer div {
    font-size: 20px;
    text-align: center;
    line-height: 300px;
}