@font-face {
    font-family: 'YES24';
    src: url('YES24.eot');
    src: url('YES24.eot?#iefix') format('embedded-opentype'),
        url('YES24.woff2') format('woff2'),
        url('YES24.woff') format('woff'),
        url('YES24.ttf') format('truetype'),
        url('YES24.svg#YES24') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

